Codes/Node-Red/flows.json
[
    {
        "id": "e2c2341bc8a3efc6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7a102a2a2579b768",
        "type": "serial-port",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "115a5cd6d5c17037",
        "type": "serial in",
        "z": "e2c2341bc8a3efc6",
        "name": "Arduino In",
        "serial": "7a102a2a2579b768",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "8aa15ddc531f1b66",
                "43bce81fed454477",
                "8077edb498bd4c63"
            ]
        ]
    },
    {
        "id": "8d6b192c143ef6f5",
        "type": "serial out",
        "z": "e2c2341bc8a3efc6",
        "name": "Arduino Out",
        "serial": "7a102a2a2579b768",
        "x": 1190,
        "y": 60,
        "wires": []
    },
    {
        "id": "8aa15ddc531f1b66",
        "type": "switch",
        "z": "e2c2341bc8a3efc6",
        "name": "Control WoL",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "<turnon>",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 100,
        "wires": [
            [
                "a4d3bdafe3c8816f"
            ]
        ]
    },
    {
        "id": "a4d3bdafe3c8816f",
        "type": "exec",
        "z": "e2c2341bc8a3efc6",
        "command": "./wol.sh",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "WoL Latitude 7490",
        "x": 710,
        "y": 100,
        "wires": [
            [
                "380985968fc2e1e4",
                "814d3c55ae4fd426"
            ],
            [
                "2d3e3a6169bbcf77",
                "814d3c55ae4fd426"
            ],
            [
                "814d3c55ae4fd426"
            ]
        ]
    },
    {
        "id": "45277d2917d3d9bf",
        "type": "exec",
        "z": "e2c2341bc8a3efc6",
        "command": "./shutdown.sh",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Shutdown RPi",
        "x": 700,
        "y": 160,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "380985968fc2e1e4",
        "type": "trigger",
        "z": "e2c2341bc8a3efc6",
        "name": "WoL Success",
        "op1": "<WoL Success>",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 960,
        "y": 60,
        "wires": [
            [
                "8d6b192c143ef6f5"
            ]
        ]
    },
    {
        "id": "2d3e3a6169bbcf77",
        "type": "trigger",
        "z": "e2c2341bc8a3efc6",
        "name": "WoL Error",
        "op1": "<WoL Error>",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 940,
        "y": 100,
        "wires": [
            [
                "8d6b192c143ef6f5"
            ]
        ]
    },
    {
        "id": "43bce81fed454477",
        "type": "debug",
        "z": "e2c2341bc8a3efc6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 220,
        "wires": []
    },
    {
        "id": "8077edb498bd4c63",
        "type": "switch",
        "z": "e2c2341bc8a3efc6",
        "name": "Control Pi",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "<shutdown>",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 160,
        "wires": [
            [
                "45277d2917d3d9bf"
            ]
        ]
    },
    {
        "id": "814d3c55ae4fd426",
        "type": "debug",
        "z": "e2c2341bc8a3efc6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 160,
        "wires": []
    }
]